[submodule "include/LCD_st7735"]
	path = include/LCD_st7735
	url = https://github.com/759401524/LCD_st7735
[submodule "include/arducam_mic"]
	path = include/arducam_mic
	url = https://github.com/759401524/arducam_mic
[submodule "include/arducam_hm01b0"]
	path = include/arducam_hm01b0
	url = https://github.com/759401524/arducam_hm01b0
[submodule "include/ICM20948"]
	path = include/ICM20948
	url = https://github.com/759401524/ICM20948
